.main {
  border: 2px solid #ff2b2b; /* Valentine red */
  box-shadow:
    0 0 10px rgba(255, 43, 43, 0.6),
    0 0 25px rgba(255, 43, 43, 0.4),
    0 0 40px rgba(255, 43, 43, 0.2);
  width: 100%;
  height: 93vh;
  margin-top: 15px;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  background-color: rgba(0, 0, 0, 0.652);
}

h1 {
  color: wheat;
  margin-top: 2em;
}

button {
  width: 30%;
  height: 6vh;
  margin-left: 12px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

#celebration {
  margin-top: 20px;
  animation: pop 0.6s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* HEARTS */
.heart {
  position: fixed;
  bottom: 0;
  font-size: 24px;
  animation: floatUp 3s linear forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
